h1,
h2,
h3,
h4 {
  font-family: 'Satisfy', cursive;
}

#titre {
  margin-top: 20px;
}

#parent {
  height: 84%;
}

#filtresBig,
#filtresSmall {
  background-color: #527a7a;
  z-index: 10;
}

#accordionBig,
#accordionSmall {
  padding: 0px;
}

#mapimgBig,
#mapimgSmall {
  height: 30px;
}

/*FOOTER*/

.social {
  height: 30px;
}

.partenaires {
  color: white;
  border-bottom: white solid 1px;
}

.partners {
  height: 4vw;
}

ul {
  list-style-type: none !important;
}

li {
  text-indent: -10px;
}
